body {
  background-color: #A0AECD;
  font-size: 10pt;
  font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
  color: black;
  line-height: 14pt;
  padding-left: 5pt;
  padding-right: 5pt;
  padding-top: 5pt;
}

h1 {
  font: 16pt Verdana, Geneva, Arial, Helvetica, sans-serif;
  font-weight: bold;
  line-height: 20pt;
  color: #267826;
}

h3 {
  font: 12pt Verdana, Geneva, Arial, Helvetica, sans-serif;
  font-weight: bold;
  line-height: 16pt;
  color: black;
}

div {
  font-weight: bold;
  color: #ff0040;
  margin: 5px;
}

label {
	color: #ff0040;1
}
